body {
  height: 100%;
}

h2 {
  font-size: 300%;
}

h3 {
  font-size: 50%;
  width: 30%;
  text-align: center;
  margin: auto;
}

footer {
  color: rgba(33, 37, 41, 0.9);
  text-align: center;
  line-height: 0.5;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: rgba(0, 0, 0, 0.05);
}

.flex-container {
  display: flex;
  justify-content: center;
  gap: 5%;
  margin-top: 0%;
  padding-bottom: 3%;
  flex-wrap: wrap;
}

.imageWtext {
  width: 10%;
}

.main {
  margin: 10%;
  position: relative;
  left: -3%;
  top: -1%;
}

.navbar-element {
  font-size: 170%;
  position: relative;
  top: 3vh;
}

.navbar {
    padding: 0%;
    margin: 0%;
    height: 10vh;
    width: 100%;
}

.main-header {
  text-align: center;
}

.sub-header {
  font-size: 100%;
  text-align: center;
  margin-top: -1%;
  color: rgba(33, 37, 41, 0.6);
}

.bold {
  font-weight: bold;
}

.blue {
  color: #0000FF;
}

.gold {
  color: #EBCC0D;
}

.link {
  text-decoration: underline;
  text-decoration-color: rgba(33, 37, 41, 0.6);
}

.noline {
  text-decoration: none;
}

.clubmember-img {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.leader-name {
  font-weight: bold;
}

.description {
  color: rgba(33, 37, 41, 0.8);
}

.main-part {
  min-height: calc(82vh);
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 8vh;
}

.gold-background {
  background: #EBCC0D;
}

.blue-background {
  background: #0000FF;
  color: #FFFFFF;
}

.background {
  border-radius: 15px;
}

.listings {
  margin: auto;
  width: 90%;
  padding-left: 10vw;
  padding-right: 10vw;
}

.listing-text {
  width: 80%;
  margin: auto;
  padding-left: 5vw;
  padding-right: 5vw;
}

#main-svg {
  margin-left:0.45%;
}

#club-description:hover span {
  display: none;
  color: rgba(33, 37, 41, 1);
}

#club-description:hover:before {
  content: "Trinity's #1 Coding Club";
  font-size: 200%;
  color: rgba(33, 37, 41, 0.75);
}

#projects {
  color: rgba(33, 37, 41, 0.75);
}

#club-about {
  margin-top: 4%;
  text-align: center;
}

#team-header {
  text-align: center;
  margin-top: 3.5%;
}

#new-listing-form {
  margin-top: 2%;
  margin-left: 40%;
  width: 50%;
}
