h2 {
  font-size: 300%;
}

.about {
  font-size: 170%;
}

.created-by {
  text-align: center;
}

.bold {
  font-weight: bold;
}

#trin {
  color: #0000FF;
}

#labs {
  color: #EBCC0D;
}

#main-svg {
  margin-left:0.45%;
}
