h2 {
  font-size: 300%;
}

h3 {
  font-size: 50%;
  width: 30%;
  text-align: center;
  margin: auto;
}

footer {
  color: rgba(33, 37, 41, 0.9);
  text-align: center;
  line-height: 0.5;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: rgba(0, 0, 0, 0.05);
}

.flex-container {
  display: flex;
  justify-content: center;
  gap: 5%;
  margin-top: 0%;
  padding-bottom: 3%;
}

.imageWtext {
  width: 10%;
}

.main {
  margin: 10%;
  position: relative;
  left: -3%;
  top: -1%;
}

.about {
  font-size: 170%;
  margin-top: 35%;
  position: relative;
  top: -1.5%
}

.navbar {
    padding: 0%;
    margin: 0%;
}

.created-by {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.blue {
  color: #0000FF;
}

.gold {
  color: #EBCC0D;
}

.link {
  text-decoration: underline;
  text-decoration-color: rgba(33, 37, 41, 0.6);
}

.noline {
  text-decoration: none;
}

.clubmember-img {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.leader-name {
  font-weight: bold;
}

.description {
  color: rgba(33, 37, 41, 0.8);
}

#main-svg {
  margin-left:0.45%;
}

#club-description:hover span {
  display: none;
  color: rgba(33, 37, 41, 1);
}

#club-description:hover:before {
  content: "Trinity's #1 Coding Club";
  font-size: 200%;
  color: rgba(33, 37, 41, 0.75);
}

#projects {
  color: rgba(33, 37, 41, 0.75);
}

#club-about {
  margin-top: 4%;
  text-align: center;
}

#team-header {
  text-align: center;
  margin-top: 3.5%;
}
