h2 {
  font-size: 300%;
}

h3 {
  font-size: 50%;
  width: 30%;
  text-align: center;
  margin: auto;
}

.main {
  margin: 10%;
}

.about {
  font-size: 170%;
  margin-top: 35%;
}

.navbar {
    padding: 0%;
    margin: 0%;
}

.created-by {
  text-align: center;
}

.bold {
  font-weight: bold;
}

#trin {
  color: #0000FF;
}

#labs {
  color: #EBCC0D;
}

#main-svg {
  margin-left:0.45%;
}

#club-description:hover span {
  display: none;
}

#club-description:hover:before {
  content: "Trinity's #1 Coding Club";
  font-size: 200%;
  color: rgba(33, 37, 41, 0.75);
}
